<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h2>新規登録画面</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %> 文字以上）</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード（確認） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "SCUBACITYに参加する", class:"btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>

