<div class="container">
  <div class="row">

    <% if user_signed_in? %>
      <div class="col-sm-8">
        <section class="mypost">

          <% if @user.id == current_user.id %>

            <h2 class="mypost_headline">My Posts</h2>
            <%= render 'users/show', posts: @posts %>


          <% else %>

            <h2 class="mypost_headline"><%= @user.name %>'s Posts</h2>
            <%= render 'users/show', posts: @posts %>

          <%end%>
        </section>
      </div>

      <div class="col-sm-4">
        <%= render 'layouts/sidebar', user: @user %>
        <%= link_to "新規投稿", new_post_path, class: "glyphicon glyphicon-plus" %>
      </div>
    <% end %>
  </div>
</div>