<!-- メインビジュアル -->
<div class="main-visual">
    <div class="main-visual-content">
        <p class="main-visual-text">
          Water - the ocean - is our most natural environment.<br>
          We are born naked from the miniature ocean<br>
          of the mother's womb.
        </p>
        <p class="main-visual-name">
          ー Jacques Mayol ー
        </p>
    </div>
</div>

<!-- Recent Posts -->
<div class="container">
    <div class="row">
      	<div class="col-md-8 col-md-offset-2">

          <h2 class="recentpost-headline" >Recent Post</h2>
          <% @posts.each do |post| %>
          <div class="resentposts-box">
            <div class="posts-item clearfix">
              <%= link_to post_path(post.id) do %>
                <%= attachment_image_tag post, :image, :fill, 200, 200 %>
              <% end %>

              <div class="recentposts-content">
                <p class="recentposts-deive_point">
                  <%= link_to post_path(post.id) do %>
                    <i class="glyphicon glyphicon-map-marker"></i><%= post.dive_point %>
                  <% end %>
                </p>
                <p><%= post.caption %></p>
                <ul class="inline-meta">
                  <li>Posted by
                    <%= link_to post.user.name, user_path(post.user) %>
                  </li>
                  <li>
                    <p><%= render 'layouts/favorites', post: post %>
                    <i class="glyphicon glyphicon-comment"></i>
                    <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
          <% end %>

      	</div>
    </div>
</div>