<main class="clearfix">
  <div class="container">
    <div class="row">

      <%#= render 'layouts/sidebar' %>

        <section class="posts">
          <h2 class="posts_headline">All Posts</h2>
          <% @posts.each do |post| %>

            <div class="posts-box">
              <div class="posts-item clearfix">
                <div class="posts-left">
                  <div class="posts-image">
                    <%= link_to post_path(post.id) do %>
                      <%= attachment_image_tag post, :image, :fill, 250, 200 %>
                    <% end %>
                  </div>
                  <p class="posts-title">
                    <%= link_to post_path(post.id) do %>
                      <i class="fa fa-map-marker"></i><%= post.dive_point %>
                    <% end %>
                  </p>
                </div>

              <div class="posts-content">
                <p class="posts-caption"><%= post.caption %></p>
                <ul class="inline-meta">
                  <li>By
                    <%= post.user.name %>
                  </li>
                  <li>
                    <%= post.created_at.strftime('%Y/%m/%d') %>
                  </li>
                  <li>
                    <i class="fa fa-comment"></i>
                    <%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %>
                    <%= render 'layouts/favorites', post: post %>
                </ul>
              </div>
            </div>

          <% end %>
        </section>

    </div>
  </div>
</main>