<div class="container">
   <div class="row">

		  <div class="post-top">
		    <div class="post_image">
		      <%= attachment_image_tag @post, :image, class: "col-sm-12" %>
		    </div>
		  </div>

		  <div class="post-content">
		    <p class="post-title">
          <i class="glyphicon glyphicon-map-marker"></i>
          <%= @post.dive_point %>
        </p>

		    <ul>
		      <li>
		        <i class="fa fa-user"></i> Posted by
		          <%= link_to @post.user.name, user_path(@post.user) %>
		      </li>
		      <li>
		        <i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %>
	        </li>

          <%= render 'layouts/favorites', post: @post %>

          <li>
            <i class="glyphicon glyphicon-comment"></i>
            <a href="#comments"><%= @post.post_comments.count %></a>
          </li>

          <li>
            <% if @post.user == current_user %>
              <%= link_to "削除", post_path(@post), method: :delete %>
            <% end %>
          </li>
	      </ul>

		    <div class="post-content-inner mt-20">
		        <p><%= @post.caption %></p>
        </div>
		  </div>

      <hr>

      <!-- コメント一覧表示 -->
      <h4 class="comment-count"><%= @post.post_comments.count %>件コメント</h4>

      <ol>
        <% @post.post_comments.each do |post_comment| %>
          <li class="comment">
            <div class="comment-author clearfix">
              <%= link_to post_comment.user.name, user_path(post_comment.user) %>
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </div>
            <div class="comment-entry"><%= post_comment.comment %></div>
          </li>
        <% end %>
      </ol>

      <hr>

      <!-- コメント投稿 -->
      <% if user_signed_in? %>
        <h3 class="section-title left"><span>コメント</span></h3>

        <%= form_for [@post, @post_comment] do |f| %>
          <div class="row">
            <div class="col-sm-12">
              <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
            </div>
          </div>
          <%= f.submit "送信する", class: "btn btn-primary pull-right" %>
        <% end %>
      <% end %>

  </div>
</div>