<div class="container">
   	<div class="row">

		  　 <div class="post-meta-top">
		    　 <div class="post_img">
		      　 <%= attachment_image_tag @post, :image, class: "col-sm-12" %>
		    　 </div>
		  　 </div>

		    <div class="post-content">
		        <h3 class="post-title"><%= @post.dive_point %></h3>

		        <ul class="float-wrapper">
		          <li>
		             <i class="fa fa-user"></i> By<a href="#">
		             <%= @post.user.name %></a>
		          </li>
		          <li>
		            <i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %>
		          </li>

              <% if user_signed_in? %>
                <% if @post.favorited_by?(current_user) %>
                  <li>
                    <%= link_to post_favorites_path(@post), method: :delete do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                      <%= @post.favorites.count %> いいね
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to post_favorites_path(@post), method: :post do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: black;"></i>
                      <%= @post.favorites.count %> いいね
                    <% end %>
                  </li>
                <% end %>
              <% end %>

              <li>
                <i class="fa fa-comment"></i>
                <a href="#comments"><%= @post.post_comments.count %></a>
              </li>

              <li>
                <% if @post.user == current_user %>
                  <%= link_to "削除", post_path(@post), method: :delete %>
                <% end %>
              </li>
		        </ul>

		        <div class="post-content-inner mt-20">
		            <p><%= @post.caption %></p>
		        </div>
		    </div>

          	<hr>

          <div class="comment-list bt style-2" id="comments">
            <div class="float-wrapper">
                <h4 class="comment-count"><%= @post.post_comments.count %>件コメント</h4>
            </div>

            <ol>
              <% @post.post_comments.each do |post_comment| %>
              <li class="comment">
                <div class="comment-body bb">
                  <div class="comment-avatar">
                    <div class="avatar">
                      <%#= 投稿者の写真 %>
                    </div>
                  </div>
                  <div class="comment-text">
                    <div class="comment-author clearfix">
                      <a href="#" class="link-author"><%= post_comment.user.name %></a>
                      <span class="comment-meta">
                        <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
                      </span>
                    </div>
                    <div class="comment-entry"><%= post_comment.comment %></div>
                  </div>
                </div>
              </li>
              <% end %>
            </ol>
          </div>

          <hr>

          <!-- comment section -->
          <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>

          <%= form_for [@post, @post_comment] do |f| %>
              <div class="row">
                  <div class="col-sm-12">
                      <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "コメントをここに" %>
                  </div>
              </div>
              <%= f.submit "送信する", class: "btn btn-primary pull-right" %>
          <% end %>

  </div>
</div>